<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>day27_TabbarApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A65406D21FCD4CAD0017CF58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A65406E61FCD4CAD0017CF58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A65406F11FCD4CAD0017CF58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
